@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@mdi/font@6.6.96/css/materialdesignicons.min.css";

body {
    background-color: white;
}

a {
    text-decoration:none;
}

* {
    box-sizing: border-box;
  }
  
  .main-wrapper {
    padding: 20px;
    float: left;
    width: 20%; /* The width is 20%, by default */
  }
  
  .main {
    padding: 20px;
    float: left;
    width: 60%; /* The width is 60%, by default */
  }
  
  .right {
    padding: 20px;
    float: left;
    width: 20%; /* The width is 20%, by default */
  }
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width: 800px) {
    .main-wrapper, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }