@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import "compass/css3";

body {
    font-family: 'Gilroy';
    background-color: #2C2F33;
    color: white;
    margin: 0px;
    padding-left: 2%;
    text-align: center;
    padding-top: 10%;
}

a {
    color: #7289da;
    text-decoration: none
}

h1 {
    font-size:50px;
}

.legal {
    font-size: 12px;
    position: absolute;
    padding-left: 2%;
    padding-right: 4%;
    bottom: 0px;
}