@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&family=Roboto:wght@300&display=swap');

body {
    background-color: white;
    color: darkslategrey;
    font-family: 'Outfit';
}

a {
    color: #7289da;
}

img {
    width: 50px;
}

h1 {
    padding-left: 30px
}

form {
    text-align: top;
    padding-right: 25px;
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.page-header nav {
    float: right;
}

.page-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page-header li {
    float: left;
    list-style-type: none;
}

.page-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.page-header li a:hover {
    background-color: rgb(108, 128, 145);
    border-radius: 12px;
}