@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&family=Roboto:wght@300&display=swap');

body {
    background-color: white;
    color: darkslategrey;
    font-family: 'Outfit';
}

a {
    color: #7289da;
}

img {
    width: 50px;
}

h1 {
    padding-left: 30px
}

form {
    align-items: right;
    text-align: right;
    text-align: top;
    padding-right: 25px;
}